:root {
  --main-btn-color: rgba(218, 218, 218, 0.5);
  --main-font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(to bottom right, #ff037dad, #780482ad);
  background-size: cover;
  background-attachment: fixed;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.brand {
  font-family: "Bangers", cursive;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: var(--main-font-color);
}

.btn button {
  border: none;
  border-radius: 3px;
  width: 35%;
  padding: 2rem;
  margin: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background-color: rgba(218, 218, 218, 0.5);
  color: var(--main-font-color);
}

.btn-return {
  width: 100%;
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
}

/* login/registration */
.login,
.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  padding: 0 2rem;
}

.field {
  margin: 2rem 0;
}

.form input {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 3px;
  background-color: rgba(218, 218, 218, 0.3);
  color: var(--main-font-color);
  padding: 0 2rem;
  font-size: 1.5rem;
}

.form input::placeholder {
  letter-spacing: 4px;
  font-size: 1.3rem;
  color: var(--main-font-color);
}

.btn-primary {
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 3px;
  background-color: rgba(218, 218, 218, 0.5);
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: var(--main-font-color);
}

.btn-login span,
.btn-register span {
  display: flex;
  justify-content: center;
}

.signup-sub-link {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.login-sub-link {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.header {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* return to normal desired position */
  }
}

/* Navbar */
.custom-nav {
  display: flex;
  justify-content: flex-end;
}

/* Spinner/loader */
.loader {
  border: 16px solid rgb(211, 208, 208);
  /* Light grey */
  border-top: 16px solid #ffffff;
  /* Blue */
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Lists */
.list-container {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 3px;
  background-color: rgba(218, 218, 218, 0.3);
  color: var(--main-font-color);
  padding: 0 2rem;
  /* font-size: 4rem; */
  overflow-y: auto;
}

.list-item {
  width: 100%;
  padding: 1rem 2rem;
}

/* Paper */
.paper {
  background-color: rgba(218, 218, 218, 0.3);
  color: var(--main-font-color);
  font-size: 1.5rem;
}
